body {
    background-color: #000000;
    color: #ffffff;
}
.background{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_aluno {
    width: 350px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    height: 300px;
}

.materias {
    display: flex;
    width: 22vw;
    height: 24vh;
    flex-direction: row;
    height: 240px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputs {
    width: 26px;
}

.alignMaterias {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100px;
    height: 50px;
}

.alignLabels {
    height: 16px;
    margin-top: 2px;
    margin-bottom: 3px;
    align-content: center;
}